<header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <%= link_to root_path, class: "flex items-center", data: { turbo: false } do %>
                    <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">My App</span>
                <% end %>
                <div class="flex items-center lg:order-2">
                  <% if user_signed_in? %>
                    <%= button_to current_user.name, "#", class: "text-gray-800 dark:text-white px-5" %>
                    <%= link_to notifications_path, data: { turbo: false }, method: "get", class: "mr-8", "data-controller" => "message", "data-message-userid" => current_user.id do %>
                      <svg data-controller="notification" data-action="click->notification#clicked_bell" id="notification-mark" class="text-zinc-50 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg>
                    <% end %>
                    <%= button_to "Log out", destroy_user_session_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 px-5", method: :delete %>
                  <% else %>
                    <%= button_to 'Sign in', new_user_session_path, class: "text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 px-5", method: :get, data: {turbo: false} %>
                    <%= button_to 'Sign up', new_user_registration_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 px-5", method: :get, data: {turbo: false} %>
                  <% end %>
                </div>
            </div>
        </nav>
    </header>
</div>